.Button {
    cursor: pointer;
    padding: 10px;
    background: transparent;
    border: 1px solid var(--primary-color)
}

.clear {
    padding: 10px;
    background-color: #a1f9ff;
    border-radius: 10px;
    color: var(--primary-color);
}

.outline {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}