.Button {
    cursor: pointer;
    padding: 10px;
    background: transparent;
    border: 1px solid var(--primary-color)
}

.clear {
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    outline: none;
}

.outlined {
    padding: 10px;
    background: transparent;
    border: 1px solid black;
}