.Sidebar {
    height: var(--sidebar-height);
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.collapse {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.collapse .switchers {
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s linear;
}

.btn {
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    margin: 10px;
    font-size: 30px;
}