

.app.dark {
    --bg-color: #ffffff;
    --inverted-bg-color: #dfdfdf;

    --primary-color: #333333;
    --inverted-primary-color: #292929;
    --secondary-color: #8c8c8c;
    --inverted-secondary-color: #181818;

    transition: all .2s linear;
}