.app.dark {
    --bg-color: #fff;
    --inverted-bg-color: #dcdcdc;
    --primary-color: #363636;
    --inverted-primary-color: #0c0c0c;
    --secondary-color: #8e8a8a;
    --inverted-secondary-color: #818181;

    transition: all 0.2s linear;
}