.navbar {
    color: var(--inverted-primary-color);
    justify-content: space-between;
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}